.navbar {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #fff;
  width: 100%;
 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1164px;
  width: 100%;
  padding: 0 20px;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}



.nav-menu {

  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin: auto 0;
}

.nav-links {

  color: #333;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #2C50CB;
}

.nav-item.active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav-icon {
  display: none;
}

.navbar.active {
  background: #fff;
  transition: 0.1s;
}

.nav-item__phone {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-item__phone>a>img{
background-color: #FFF;
}
.nav-item_select {
  width: 63.333px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 27px;
  border: 2px solid #FF723A;
  color: #FF723A;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 6px;
  outline: none;

}

.nav-item_select__bar {
  width: 63.333px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 27px;
  border: 2px solid #FF723A;
  background: #2C50CB;
  color: #FFF;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}
.nav-item__dropdown{
  border-radius: 10px;
background: #FFF;
width: 167px;
flex-shrink: 0;
box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
display: none;
color: #666;
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
list-style: none;
}
.nav-item:hover .nav-item__dropdown {
  display: block;
}
@media only screen and (max-width: 1100px) {
  .navbar {
    background: #FF723A;
  }

  .nav-item_select__bar {
    display: block;
  }

  .nav-logo {
    margin: 0 auto;
  }

  .nav-item_select {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;

background: #FF723A;
  }

  .nav-menu.active {
   
background: #FF723A;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 130px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 20px;
    height: 100vh;
  }

  .nav-item .active {
    color: #ffffff;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 28px;
    left: 60px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffff;

    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 480px) {

  .nav-logo {
    font-size: 26px;
  }
}

@media only screen and (max-width: 378px) {

  .nav-logo {
    font-size: 23px;
  }
}

@media only screen and (max-width: 325px) {

  .nav-logo {
    font-size: 20px;
  }
}

@media only screen and (max-width: 322px) {

  .nav-logo {
    font-size: 17px;
  }
}